@{
    ViewData["Title"] = "Cart";
    ViewData["Notif"] = ViewBag.Notif;
    ViewData["Name"] = ViewBag.Name;
}
<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->
<!-- STATISTIC-->
<section class="statistic" style="padding-top: 20px;">
    <div class="section__content section__content--p20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="statistic__item">
                        <h2 class="number">@ViewBag.Emp</h2>
                        <span class="desc">Total Employee</span>
                        <h3 class="number" style="font-weight: 300;color: #4272d7;">@ViewBag.Pria/@ViewBag.Wanita</h3>
                        <span class="desc">Males/Females</span>
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="statistic__item">
                        <h2 class="number">@ViewBag.Out</h2>
                        <span class="desc">Out Today</span>
                        <div class="icon">
                            <i class="zmdi zmdi-airplane"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="statistic__item">
                        <h2 class="number">@ViewBag.Att/@ViewBag.Emp</h2>
                        <span class="desc">Today's Present</span>
                        <div class="icon">
                            <i class="zmdi zmdi-accounts-add"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->

<section>
    <div class="section__content section__content--p20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <div class="recent-report2">
                        <h3 class="title-5">UpComing Events</h3>
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Day</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        @foreach (var x in ViewBag.Event)
                                        {
                                            <tr>
                                                <td>@x.EventName</td>
                                                <td>@String.Format("{0:dd MMMM}", x.TimeEvent)</td>
                                            </tr>

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="recent-report2">
                        <h3 class="title-5">New Applicants</h3>
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        @foreach (var x in ViewBag.Appl)
                                        {
                                            var y = DateTime.Now - x.Created_at;
                                            var day = DateTime.Now.Day - x.Created_at.Day;                                           
                                    <tr>                                        
                                        <td>@x.Fullname</td>
                                        <td>@x.Position</td>                                        
                                        @if (day > 0)
                                        {
                                            <td>@day days ago</td>
                                        }
                                        @if (day == 0 && int.Parse(y.ToString("hh")) > 0)
                                        {
                                            <td>@y.ToString("hh") hours ago</td>
                                        }
                                        @if (int.Parse(y.ToString("hh")) == 0 && day == 0 && int.Parse(y.ToString("mm")) > 0 )
                                        {
                                            <td>@y.ToString("mm") minutes ago</td>
                                        }
                                        @if (y.ToString("hh") == "00" && day == 0 && y.ToString("mm") == "00")
                                        {
                                            <td>@y.ToString("ss") seconds ago</td>
                                        }
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>