@{
    ViewData["Title"] = "Cart";
    ViewData["Notif"] = ViewBag.Notif;
    ViewData["Name"] = ViewBag.Name;
}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a asp-action="Index" asp-controller="Home">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Leave Request</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->
<section>
    <div class="section__content">

        <div class="container-fluid" style="padding-left:2px;padding-right:2px">
            <div class="row">
                <div class="col-xl-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Approved</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Pending</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Reject</a>
                        </div>
                    </nav>
                    <!-- DATA TABLE -->
                    <div class="tab-content" id="nav-tabContent">
                        <div class="table-data__tool p-t-10">
                            <div class="table-data__tool-right">
                                <div class="rs-select2--light rs-select2--sm">
                                    <div class="rs-select2--light rs-select2--sm">
                                        <input class="js-select2" id="myInput" type="text" placeholder="Search..">
                                        <button class="btn btn-secondary" id="myBtn">Export</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-data__tool-left">
                                <button class="au-btn au-btn--green au-btn--small" data-toggle="modal" data-target="#contact-modal" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-account-circle"></i>Add Leave Request
                                </button>
                            </div>
                            <div class="table-data__tool-left">
                                <a asp-controller="LeaveRequest" asp-action="ExportAll" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-case-download"></i>Export CSV (All)
                                </a>
                            </div>
                            <div class="table-data__tool-right">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Export
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href=" https://localhost:5001/LeaveRequest/Export?status=Approve">Approve</a>
                                        <a class="dropdown-item" href=" https://localhost:5001/LeaveRequest/Export?status=Pending">Pending</a>
                                        <a class="dropdown-item" href=" https://localhost:5001/LeaveRequest/Export?status=Reject">Reject</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-data2 tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table id="permanent_table" class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>image</th>
                                        <th onclick="sortTable(0)">name</th>
                                        <th onclick="sortTable(0)">email</th>
                                        <th>phone</th>
                                        <th>position</th>
                                        <th>division</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @{
                                        @foreach (var approved in ViewBag.Appr)
                                        {
                                            @foreach (var y in approved)
                                            {
                                                <tr class="tr-shadow">
                                                    <td><img src="@y.Photo" width="50" height="50" /></td>
                                                    <td>
                                                        @y.Fullname
                                                    </td>
                                                    <td class="desc">@y.Email</td>
                                                    <td>@y.Phone_number</td>
                                                    <td>
                                                        @y.Position
                                                    </td>
                                                    <td>@y.Division</td>
                                                    <td>
                                                        <div class="table-data-feature">

                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive table-responsive-data2 tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table id="contract_table" class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>image</th>
                                        <th>name</th>
                                        <th>email</th>
                                        <th>phone</th>
                                        <th>position</th>
                                        <th>division</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @{
                                        @foreach (var pending in ViewBag.Pend)
                                        {
                                            @foreach (var x in pending)

                                            {
                                                <tr class="tr-shadow">
                                                    <td><img src="@x.Photo" width="50" height="50" /></td>
                                                    <td>
                                                        @x.Fullname
                                                    </td>
                                                    <td class="desc">@x.Email</td>
                                                    <td>@x.Phone_number</td>
                                                    <td>
                                                        @x.Position
                                                    </td>
                                                    <td>@x.Division</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button class="item" id="appr_btn-@x.Id" data-toggle="tooltip" data-placement="top" onclick="javascript: appr_id(this)" title="Approved">
                                                                <i class="zmdi zmdi-mail-send"></i>
                                                            </button>
                                                            <button class="item" id="rejt_btn-@x.Id" data-toggle="tooltip" data-placement="top" onclick="javascript: reject_id(this)" title="Reject">
                                                                <i class="zmdi zmdi-dot-circle"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive table-responsive-data2 tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table id="probation_table" class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>image</th>
                                        <th>name</th>
                                        <th>email</th>
                                        <th>phone</th>
                                        <th>position</th>
                                        <th>division</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @{
                                        @foreach (var rejected in ViewBag.Reject)
                                        {
                                            @foreach (var z in rejected)
                                            {
                                                <tr class="tr-shadow">
                                                    <td><img src="@z.Photo" width="50" height="50" /></td>
                                                    <td>
                                                        @z.Fullname
                                                    </td>
                                                    <td class="desc">@z.Email</td>
                                                    <td>@z.Phone_number</td>
                                                    <td>
                                                        @z.Position
                                                    </td>
                                                    <td>@z.Division</td>
                                                    <td>
                                                        <div class="table-data-feature">

                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>
    </div>
</section>
<div id="contact-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add Leave Request</h3>
            </div>
            <form asp-action="Create" asp-controller="LeaveRequest" method="post" id="contactForm" name="contact" role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rating">Employee</label>
                        <select name="Employee" class="form-control">
                            @{
                                @foreach (var emp in ViewBag.Emp)
                                {
                                    <option value=@emp.Id>@emp.Fullname</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="rating">Leave Time</label>
                        <input name="time" id="time" class="form-control" type="date" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" id="submit">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/addons/datatables.min.js"></script>
<link href="css/addons/datatables.min.css" rel="stylesheet">
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#myBtn").click(function () {
            var str = $("#myInput").val();
            var path = "https://192.168.17.39:5001/LeaveRequest/Export?Search=" + str;
            console.log(path);
            window.location.href = path;
        });
    });
</script>
<script type="text/javascript">
    function reject_id(id) {
        var emp_id = id.id;
        var emp = emp_id.substring(9);
        var path = "https://192.168.17.39:5001/LeaveRequest/Reject/" + emp;
        window.location.href = path;
    };
</script>
<script type="text/javascript">
    function appr_id(id) {
        var emp_id = id.id;
        var emp = emp_id.substring(9);
        var path = "https://192.168.17.39:5001/LeaveRequest/Approve/" + emp;
        window.location.href = path;
    };
</script>
<script>
    $(document).ready(function () {
        $('#permanent_table').after('<div class="text-center pagination" id="nav-home"></div>');
        var rowsShown = 3;
        var rowsTotal = $('#permanent_table tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav-home').append('<a class="text-center" style="text-align:center" href="#" rel="' + i + '">' + pageNum + '</a> ');
        }
        $('#permanent_table tbody tr').hide();
        $('#permanent_table tbody tr').slice(0, rowsShown).show();
        $('#nav-home a:first').addClass('active');
        $('#nav-home a').bind('click', function () {

            $('#nav-home a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#permanent_table tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#contract_table').after('<div class="text-center pagination" id="nav-profile"></div>');
        var rowsShown = 3;
        var rowsTotal = $('#contract_table tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav-profile').append('<a class="text-center" style="text-align:center" href="#" rel="' + i + '">' + pageNum + '</a> ');
        }
        $('#contract_table tbody tr').hide();
        $('#contract_table tbody tr').slice(0, rowsShown).show();
        $('#nav-profile a:first').addClass('active');
        $('#nav-profile a').bind('click', function () {

            $('#nav-profile a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#contract_table tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#probation_table').after('<div class="text-center pagination" id="nav-contact"></div>');
        var rowsShown = 3;
        var rowsTotal = $('#probation_table tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav-contact').append('<a class="text-center" style="text-align:center" href="#" rel="' + i + '">' + pageNum + '</a> ');
        }
        $('#probation_table tbody tr').hide();
        $('#probation_table tbody tr').slice(0, rowsShown).show();
        $('#nav-contact a:first').addClass('active');
        $('#nav-contact a').bind('click', function () {

            $('#nav-contact a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#probation_table tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    });
</script>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("permanent_table");
        switching = true;

        dir = "asc";

        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<script>
    $(".au-btn-icon").click(
        function (e) {
            e.preventDefault();

            //open download link in new page
            window.open($(this).attr("href"));

            //redirect current page to success page
            window.location = "https://192.168.17.39:5001/LeaveRequest";
            window.focus();
        }
    );
</script>
<script>
    $(".dropdown-item").click(
        function (e) {
            e.preventDefault();

            //open download link in new page
            window.open($(this).attr("href"));

            //redirect current page to success page
            window.location = "https://192.168.17.39:5001/LeaveRequest";
            window.focus();
        }
    );
</script>
